src/main/mule/testproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d3ef1a49-21c0-498f-a693-42fb2da6a359" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testprojectFlow" doc:id="6cb3034c-209b-4a32-8ec4-d9ebfb026f0b" >
		<http:listener doc:name="Listener" doc:id="7e3d1595-55da-4921-96dd-abea55327ad5" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="b0aca078-1aec-4685-be7f-580ba7d99fc5" message="InputPayload is #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="abf2114a-ad46-44cd-9c72-502192ddd9d0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Assalamualaikum" : "Waalaikumassalam"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
